#cartons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
}

#cartons h3 {
    width: 300px;
    margin-top: 30px;
    font-size: 30px;
    align-self: center;
}

#cartons .sort {
    width: 100px;
    height: 20px;
    margin-top: 5px;
    font-size: 11px;
    align-self: flex-end;
    margin-right: 10%;
}

#cartons .tabela {
    align-self: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#cartons .tabela .header {
    display: flex;
    height: 50px;
    justify-content: center;
    align-content: center;

}

#cartons .tabela .item {
    display: flex;
    height: 50px;
    justify-content: center;
    align-content: center;
}

#cartons .title {
    width: 20%;
    align-self: center;
    background-color: darkgray;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 22px;
    justify-self: center;
    text-align: center;
    padding: 2px;
}

#cartons .value {
    width: 20%;
    color: gray;
    text-align: center;
    background: #F9F9F9;
    border: 0.2px solid #EDEDED;
    box-sizing: border-box;
    padding: 2px;
}

#cartons .value button {
    height: 40px;
    width: 95%;
    background: blue;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;

    color: #FFFFFF;
    align-self: center;
}