#home-patient {
    width: 100%;
    height: calc(100vh - 55px);
    display: flex;    
    justify-content: center;
    margin-top: 55px;
}

#home-patient .part {
    width: calc(100% / 3);
    background-color: gray;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;

}

#home-patient .part1 {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    background-image: url('../images/karton1.png');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-patient .part2 {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    background-image: url('../images/folder.jpg');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-patient .part3 {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    background-image: url('../images/schedule.png');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#home-patient .part h3 { 
    align-self: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#home-patient .part:hover {
    background-color: darkgray;
}

#home-patient .part1 h3 { 
    align-self: center;
    color: gray;
    font-size: 30px;
    font-weight: bold;
}

#home-patient .part2 h3 { 
    align-self: center;
    color: gray;
    font-size: 30px;
    font-weight: bold;
}

#home-patient .part3 h3 { 
    align-self: center;
    color: gray;
    font-size: 30px;
    font-weight: bold;
}

#home-patient .part1:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
   
}

#home-patient .part2:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
   
}

#home-patient .part3:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
   
}