#my-profile {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

#my-profile .profile-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#my-profile .profile-row .field {
    width: 30%;
}