#schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 55px;
}

#schedule h3 {
    width: 300px;
    margin-top: 30px;
    font-size: 30px;
    align-self: center;
}


#schedule .search {
    width: 80%;
    align-self: center;
    display: flex;
    background: #F9F9F9;
    border: 0.2px solid #EDEDED;
    box-sizing: border-box;
    height: 150px;
    margin-top: 50px;

    margin-bottom: 20px;

}

#schedule .type {
    width: 20%;
    align-self: center;
    margin-left: 2%;
    margin-right: 2%;
}

#schedule .date {
    width: 20%;
    align-self: center;
    margin-left: 2%;
    margin-right: 2%;
}

#schedule .date button {
    height: 44px;
    width: 70%;
    background: blue;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;

    color: #FFFFFF;
    align-self: center;
}

#schedule .exam {
    width: 80%;
    align-self: center;
    display: flex;
    background: #F9F9F9;
    border: 0.2px solid #EDEDED;
    box-sizing: border-box;
    height: 100px;
}

#schedule .exam .item {
    width: 25%;
    align-self: center;
    margin-left: 2%;
    margin-right: 2%;
}

#schedule .exam button {
    height: 44px;
    width: 70%;
    background: blue;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;

    color: #FFFFFF;
    align-self: center;
}